<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Formularz dodawania zawodników do heatów</title>
    <th:block th:replace="fragments :: link-styles" th:remove="tag"/>
</head>
<body style="background-color: #606569">
<th:block th:replace="fragments :: navigator" th:remove="tag"/>
<div class="container">
    <h1 class="nav-sign" style="text-align: center" th:text="'Dodaj zawodników do ' + ${round.getName()}"></h1>

    <form th:action="@{/heat/setRiders}" method="post" th:object="${heatsDto}">

        <div th:each="heat, stat : ${heatsDto.heats}">

            <input th:type="hidden" th:name="heatId" th:value="${heatsDto.getHeats()[__${stat.index}__].id}">
            <input th:type="hidden" th:name="roundId" th:value="${heatsDto.getHeats()[__${stat.index}__].round.id}">

            <div class="row col-md-10 form-container">
                <div class="row col-md-10 form-input-row">
                    <h3 th:text="${heatsDto.getHeats()[__${stat.index}__].name}"></h3>
                </div>

                <div class="col-md-10" th:switch="${heatsDto.getHeats()[__${stat.index}__].round.name}">

                    <input th:type="hidden" th:value="${heatsDto.getHeats()[__${stat.index}__].id}" th:field="*{heats[__${stat.index}__].id}"/>

                    <span th:case="'Round 1 MAN'">
                        <select multiple="multiple" th:field="*{heats[__${stat.index}__].riders}" id="manRiderSelect"
                                class="form-control col-md-12">
                            <option th:each="rider : ${manRiders}"
                                    th:value="${{rider}}"
                                    th:text="${rider.getUsername()}">
                            </option>
                        </select>
                    </span>

                    <span th:case="'Final WOMAN'">
                        <select multiple="multiple" th:field="*{heats[__${stat.index}__].riders}" id="womanRiderSelect"
                                class="form-control col-md-12">
                            <option th:each="rider : ${womanRiders}"
                                    th:value="${{rider}}"
                                    th:text="${rider.getUsername()}">
                            </option>
                        </select>
                    </span>

                    <span th:case="'Final JUNIOR'">
                        <select multiple="multiple" th:field="*{heats[__${stat.index}__].riders}" id="juniorRiderSelect"
                                class="form-control col-md-12">
                            <option th:each="rider : ${juniorRiders}"
                                    th:value="${{rider}}"
                                    th:text="${rider.getUsername()}">
                            </option>
                        </select>
                    </span>
                </div>
            </div>
        </div>

        <div class="row col-md-12 form-button-row">
            <div class="col-md-5">
                <button type="reset" class="btn btn-warning offset-3 col-md-12">Zresetuj</button>
            </div>
            <div class="col-md-5">
                <button type="submit" class="btn btn-primary offset-3 col-md-12">Zapisz</button>
            </div>
        </div>

    </form>

</div>
<th:block th:replace="fragments :: footer" th:remove="tag"/>
<th:block th:replace="fragments :: scripts" th:remove="tag"/>
</body>
</html>