<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Index page</title>
    <th:block th:replace="fragments :: link-styles" th:remove="tag"/>
</head>
<body>
<th:block th:replace="fragments :: navigator" th:remove="tag"/>
<div class="container">

    <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light">
        <!--<div class="col-md-5 p-lg-5 mx-auto my-5">-->
            <h2 class="display-4 font-weight-normal">Baltic Kite Wave Jam</h2>
            <p class="lead font-weight-normal">
                Baltic Kite Wave Jam to coroczne zawody w pływaniu na fali z latawcem (tzw kitewave lub strapless kitesurfing).
                Organizowane przez grupę entuzjaztów, głównie z zachodniego wybrzeża polskiego Bałtyku.
                Jest to jedyna tego typu impreza w Polsce i ma charakter luźnego jam session z nagrodami i wyróżnieniami.
                Niektórzy określają ją nieoficjalnymi mistrzostwami Polski w tej dziedzinie. Nam daleko do takiego nazewnictwa,
                bardziej skupiamy się na dobrej zabawie i scalaniu środowiska tej stosunkowo młodej i mało znanej odmiany kitesurfingu.
                ALOHA!
            </p>
            <a class="btn btn-outline-secondary" th:href="@{/event/list}">Nasze JAMy</a>
        <!--</div>-->
        <!--<div class="product-device shadow-sm d-none d-md-block"></div>-->
        <!--<div class="product-device product-device-2 shadow-sm d-none d-md-block"></div>-->
    </div>


</div>
<th:block th:replace="fragments :: footer" th:remove="tag"/>
<th:block th:replace="fragments :: scripts" th:remove="tag"/>
</body>
</html>