<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <!--<title>Formularz logowania</title>-->
    <th:block th:replace="fragments :: link-styles" th:remove="tag"/>
</head>
<body style="background-color: #606569">
<th:block th:replace="fragments :: navigator" th:remove="tag"/>
<div class="container">

    <form class="col-md-5 text-center border border-light p-5" style="margin-top: 80px" th:action="@{/login}" method="post">

        <p class="h4 mb-4">Zaloguj się</p>

        <input class="form-control mb-4" type="text" id="username" th:name="username" placeholder="Nazwa_użytkownika">
        <input class="form-control" type="password" id="password" th:name="password" placeholder="Hasło">


        <div class="d-flex justify-content-around">
            <div>
                <!-- Remember me -->
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="defaultLoginFormRemember">
                    <label class="custom-control-label" for="defaultLoginFormRemember">Pamiętaj mnie</label>
                </div>
            </div>
            <div>
                <!-- Forgot password -->
                <!--<a href="">Forgot password?</a>-->
            </div>
        </div>

        <!-- Sign in button -->
        <button class="btn btn-info btn-block my-4" type="submit">Zapisz</button>

        <p>Nie masz konta?
            <a th:href="@{/user/register}">Zarejestruj się!</a>
        </p>


    </form>


</div>
<th:block th:replace="fragments :: footer" th:remove="tag"/>
<th:block th:replace="fragments :: scripts" th:remove="tag"/>
</body>
</html>