<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Registration form</title>
    <th:block th:replace="fragments :: link-styles" th:remove="tag"/>
</head>
<body style="background-color: #606569">
<th:block th:replace="fragments :: navigator" th:remove="tag"/>
<div class="container">

    <!-- Default form register -->
    <form class="text-center border border-light p-5" th:action="@{/user/register}" method="post" th:object="${newAccount}">

        <p class="h4 mb-4">Zarejestruj się</p>

        <div class="form-row mb-4">
            <div class="col">
                <div th:if="${errorMessage != null}" class="row col-md-12 form-input-row">
                    <div class="col-md-12 alert alert-danger" th:text="${errorMessage}"></div>
                </div>
                <!-- First name -->


            <div class="form-row mb-4">
                <div class="col">
                    <!-- First name -->
                    <input class="form-control" type="text" id="name" th:field="*{name}" placeholder="Imię">
                </div>
                <div class="col">
                    <!-- Last name -->
                    <input class="form-control" type="text" id="surname" th:field="*{surname}" placeholder="Nazwisko">
                </div>
            </div>




        <!-- E-mail -->
                <div class="form-row mb-4">
                    <div class="col">
                        <input class="form-control" type="text" id="username" th:field="*{username}" placeholder="Nazwa_użytkownika">
                    </div>
                </div>
        <!-- Password -->
                <div class="form-row mb-4">
                    <div class="col">
                        <input class="form-control" type="password" id="password" th:field="*{password}" placeholder="Hasło">
                    </div>
                </div>

                <div class="form-row mb-4">
                    <div class="col">
                        <input class="form-control" type="password" id="password-confirm" th:name="passwordConfirm" placeholder="Potwierdź hasło">
                    </div>
                </div>



        <!-- Sign up button -->
        <button class="btn btn-info my-4 btn-block" type="submit">Zapisz</button>

            </div>


    </form>
</div>
    <!-- Default form register -->
</div>
<th:block th:replace="fragments :: footer" th:remove="tag"/>
<th:block th:replace="fragments :: scripts" th:remove="tag"/>
</body>
</html>