<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Formularz zawodnika</title>
    <th:block th:replace="fragments :: link-styles" th:remove="tag"/>
</head>
<body>
<th:block th:replace="fragments :: navigator" th:remove="tag"/>
<div class="container">
    <h1>Formularz zawodnika</h1>
    <form th:action="@{/rider/add}" method="post" th:object="${rider}">
        <input type="hidden" th:field="*{id}" th:name="*{id}" >
        <div class="row col-12 form-container">
            <div class="row col-md-12 form-input-row">
                <div class="col-md-6">
                    <label for="name">Imię</label>
                </div>
                <div class="col-md-6">
                    <input class="form-control" type="text" id="name" th:name="name" th:field="*{name}">
                </div>
            </div>
            <div class="row col-md-12 form-input-row">
                <div class="col-md-6">
                    <label for="surname">Nazwisko:</label>
                </div>
                <div class="col-md-6">
                    <input class="form-control" type="text" id="surname" th:name="surname" th:field="*{surname}">
                </div>
            </div>
            <div class="row col-md-12 form-input-row">
                <div class="col-md-6">
                    <label for="lycraSize">Rozmiar lycry:</label>
                </div>
                <div class="col-md-6">
                    <select class="form-control" type="text" id="lycraSize" th:name="lycraSize" th:field="*{lycraSize}">
                        <option th:value="S">S</option>
                        <option th:value="M">M</option>
                        <option th:value="L">L</option>
                        <option th:value="XL">XL</option>
                    </select>
                </div>
            </div>
            <div class="row col-md-12 form-input-row">
                <div class="col-md-6">
                    <label for="riderType">Grupa:</label>
                </div>
                <div class="col-md-6">
                    <select class="form-control" type="text" id="riderType" th:name="riderType" th:field="*{riderType}">
                        <option th:value="${T(com.javagda25.securitytemplate.model.RiderType).MAN}">MAN</option>
                        <option th:value="${T(com.javagda25.securitytemplate.model.RiderType).WOMAN}">WOMAN</option>
                        <option th:value="${T(com.javagda25.securitytemplate.model.RiderType).JUNIOR}">JUNIOR</option>
                    </select>
                </div>
            </div>
            <div class="row col-md-12 form-input-row">
                <div class="col-md-6">
                    <label for="stance">Stance:</label>
                </div>
                <div class="col-md-6">
                    <select class="form-control" type="text" id="stance" th:name="stance" th:field="*{stance}">
                        <option th:value="${T(com.javagda25.securitytemplate.model.Stance).REGULAR}">REGULAR</option>
                        <option th:value="${T(com.javagda25.securitytemplate.model.Stance).GOOFY}">GOOFY</option>
                    </select>
                </div>
            </div>
            <div class="row col-md-12 form-input-row">
                <div class="col-md-6">
                    <label for="boardBrand">Deska:</label>
                </div>
                <div class="col-md-6">
                    <input class="form-control" type="text" id="boardBrand" th:name="boardBrand" th:field="*{boardBrand}">
                </div>
            </div>
            <div class="row col-md-12 form-input-row">
                <div class="col-md-6">
                    <label for="kiteBrand">Latawiec:</label>
                </div>
                <div class="col-md-6">
                    <input class="form-control" type="text" id="kiteBrand" th:name="kiteBrand" th:field="*{kiteBrand}">
                </div>
            </div>
            <div class="row col-md-12 form-input-row">
                <div class="col-md-6">
                    <label for="city">Miasto:</label>
                </div>
                <div class="col-md-6">
                    <input class="form-control" type="text" id="city" th:name="city" th:filed="*{city}">
                </div>
            </div>
            <div class="row col-md-12 form-button-row">
                <div class="col-md-6">
                    <button type="reset" class="btn btn-warning offset-3 col-md-6">Zresetuj</button>
                </div>
                <div class="col-md-6">
                    <button type="submit" class="btn btn-primary offset-3 col-md-6">Zapisz</button>
                </div>
            </div>
        </div>
    </form>
</div>
<th:block th:replace="fragments :: footer" th:remove="tag"/>
<th:block th:replace="fragments :: scripts" th:remove="tag"/>
</body>
</html>