<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Index page</title>
    <th:block th:replace="fragments :: link-styles" th:remove="tag"/>
</head>
<body style="background-color: #606569">
<th:block th:replace="fragments :: navigator" th:remove="tag"/>
<input type="hidden" th:object="${event}" th:name="${event}">

<h1 style="text-align: center">Formularz sędziego <p th:text="${event.getName()}"></p></h1>

<div class="container">

    <form th:action="@{/referee/round1Man}" method="post" th:object="${rank}">

        <div class="row col-md-4 form-container">
            <div class="row col-md-12 form-input-row">
                <div class="col-md-2">#</div>
                <div class="col-md-3">Imię</div>
                <div class="col-md-3">Ksywka</div>
                <div class="col-md-4">Twoja ocena</div>
            </div>


            <div  th:each="rider, index : ${manRidersSet}"  class="row col-md-12 form-input-row">
                <div class="col-md-2" th:text="${index.index + 1}"></div>
                <div class="col-md-3" th:text="${rider.getName()}"></div>
                <div class="col-md-3" th:text="${rider.getSurname()}"></div>
                <div class="col-md-4">
                    <select class="form-control" type="number" id="riderRank">
                        <option th:value="1">1</option>
                        <option th:value="2">2</option>
                        <option th:value="3">3</option>
                        <option th:value="4">4</option>
                    </select>
                </div>
            </div>


            <div class="row col-md-12 form-button-row">
                <div class="col-md-6">
                    <button type="reset" class="btn btn-warning offset-3 col-md-12">Zresetuj</button>
                </div>
                <div class="col-md-6">
                    <button type="submit" class="btn btn-primary offset-3 col-md-12">Zapisz</button>
                </div>
            </div>
        </div>


    </form>


</div>
<th:block th:replace="fragments :: footer" th:remove="tag"/>
<th:block th:replace="fragments :: scripts" th:remove="tag"/>
</body>
</html>>